<template>
    <div class="m-auto min-w-320px">
        <div class="flex flex-col items-center">
            <select
                class="
                    font-serif
                    mb-1
                    bg-blue-300
                    rounded-md
                    py-1
                    px-4
                    border-2 border-purple-900
                "
                @change="getCurrency"
                v-model="exchangerNow"
            >
                <option value="EUR" selected>EUR</option>
                <option value="USD">USD</option>
                <option value="RUB">RUB</option>
                <option value="UAH">UAH</option>
                <option value="BYN">BYN</option>
                <option value="JPY">JPY</option>
                <option value="BTC">BTC</option>
            </select>
        </div>
        <div
            class="
                h-full
                w-full
                flex flex-col
                items-center
                justify-center
                lg:px-1
            "
        >
            <div
                v-for="(item, index) in exchangerApi.curr"
                :key="index"
                class="h-full w-full"
            >
                <div
                    v-if="item != exchangerNow"
                    class="
                        m-auto
                        my-1
                        h-16
                        max-w-xs
                        flex flex-col
                        items-center
                        justify-around
                        border
                        rounded-2xl
                        border-gray-700
                    "
                >
                    <div class="w-full flex items-center justify-around">
                        <div class="flex">
                            <span
                                class="
                                    font-medium
                                    w-6
                                    h-6
                                    mr-2
                                    flex
                                    items-center
                                    justify-center
                                    border
                                    rounded-full
                                    border-gray-700
                                "
                                >{{ exchangerApi.currenciesIcons[item] }}</span
                            ><span
                                class="font-serif font-bold text-base leading-6"
                                >{{ item }}</span
                            >
                        </div>
                        <span class="font-serif text-sm"
                            >{{ exchangerNow }} / {{ item }}</span
                        >
                    </div>
                    <span
                        class="
                            font-medium
                            text-2xl
                            leading-6
                            flex
                            items-center
                            justify-center
                            pb-1
                        "
                        >{{ computedCurr(item) }}</span
                    >
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            currenciesResponse: {
                BTC: 0,
                BYN: 0,
                EUR: 0,
                JPY: 0,
                RUB: 0,
                UAH: 0,
                USD: 0,
            },
            exchangerNow: 'EUR',
            currArr: [],
            exchangerApi: {
                url: 'http://api.exchangeratesapi.io/v1/latest',
                key: '8ab8be2168501d9797569fff113a4576',
                curr: ['USD', 'RUB', 'UAH', 'BYN', 'JPY', 'BTC', 'EUR'],
                currenciesIcons: {
                    EUR: '€',
                    USD: '$',
                    RUB: '₽',
                    UAH: '₴',
                    BYN: 'Br',
                    JPY: '¥',
                    BTC: '₿',
                },
            },
        }
    },
    methods: {
        getCurrency() {
            let url = `${this.exchangerApi.url}?access_key=${this.exchangerApi.key}&symbols=${this.exchangerApi.curr}`
            let data = fetch(url).then((resp) => resp.json())
            data.then((respons) => {
                this.currenciesResponse = respons.rates
            })
        },
        computedCurr(curr) {
            if (this.exchangerNow === 'EUR') {
                return curr === 'BTC'
                    ? this.currenciesResponse[curr].toPrecision(2)
                    : this.currenciesResponse[curr].toFixed(2)
            } else if (this.exchangerNow !== 'EUR') {
                let correct =
                    this.currenciesResponse[curr] /
                    this.currenciesResponse[this.exchangerNow]
                return curr == 'BTC'
                    ? correct.toPrecision(2)
                    : correct.toFixed(2)
            }
        },
    },
    created: function () {
        this.getCurrency()
    },
}
</script>
<style>
.min-w-320px {
    min-width: 310px;
}
</style>
