<template>
    <div
        class="
            max-w-screen-lg
            min-w-320px
            m-auto
            mb-3
            w-full
            text-center
            flex
            items-center
            flex-col
            lg:flex-row
            lg:mt-3
            justify-between
        "
    >
        <a href="#" class="lg:w-1/6 font-serif text-xl font-bold">
            <img class="inline h-8 w-8" src="/icon.ico" alt="ico" /><span
                >To Do List</span
            >
        </a>
        <div
            id="header__nav"
            class="lg:w-5/6 w-full flex items-center justify-evenly self-center"
        >
            <router-link class="font-serif font-bold hover:underline" to="/"
                >To Do</router-link
            >
            |
            <router-link
                class="font-serif font-bold hover:underline"
                to="/currencies"
                >Currencies</router-link
            >
            |
            <router-link
                class="font-serif font-bold hover:underline"
                to="/weather"
                >Weather</router-link
            >
        </div>
    </div>
</template>

<style>
#header__nav a.router-link-exact-active {
    color: rgb(6, 95, 70);
    text-decoration: underline;
}
</style>
