<template>
    <div class="max-w-screen-lg min-w-320px w-full m-auto h-auto pb-4">
        <div>
            <form
                @submit.prevent="addTask"
                class="
                    w-full
                    px-1
                    gap-1
                    sm:h-14
                    flex
                    items-center
                    flex-col
                    justify-evenly
                    border-purple-700
                    sm:flex-row
                "
            >
                <input
                    v-model="newTaskTitle"
                    :placeholder="formPHTitle"
                    :class="
                        editActive
                            ? ' border-gray-900 border-4'
                            : 'border-purple-900 border-2'
                    "
                    class="
                        h-11
                        w-11/12
                        sm:w-4/12
                        bg-purple-300
                        rounded-md
                        font-semibold font-sans
                        leading-6
                        text-2xl
                        sm:text-lg
                        text-black
                    "
                    type="text"
                />
                <textarea
                    v-model="newTaskDescription"
                    :placeholder="formPHDescription"
                    :class="
                        editActive
                            ? ' border-gray-900 border-4'
                            : 'border-purple-900 border-2'
                    "
                    class="
                        align-middle
                        h-11
                        w-11/12
                        sm:w-5/12
                        bg-purple-300
                        rounded-md
                        font-semibold font-sans
                        leading-4
                        text-base text-black
                        resize-none
                    "
                ></textarea>
                <input
                    :class="
                        editActive
                            ? ' border-gray-900 border-4'
                            : 'border-purple-900 border-2'
                    "
                    v-model="newTaskDate"
                    class="
                        h-11
                        w-40
                        bg-purple-300
                        rounded-md
                        pl-2
                        pr-2
                        cursor-pointer
                    "
                    type="date"
                />
                <input
                    :class="
                        editActive
                            ? ' border-gray-900 border-4'
                            : 'border-purple-900 border-2'
                    "
                    class="
                        h-11
                        w-20
                        rounded-md
                        cursor-pointer
                        flex
                        items-center
                        justify-center
                        focus:outline-none
                        text-sm
                        bg-gradient-to-r
                        from-blue-400
                        to-blue-600
                        transform
                        hover:scale-110
                    "
                    type="submit"
                    :value="formSubmit"
                />
            </form>
        </div>
        <div
            class="mb-4 text-lg text-center border-b-2 border-gray-700"
            v-if="editActive"
        >
            You are currently editing task number {{ editItemIndex + 1 }}.
        </div>
        <div>
            <div
                class="
                    font-medium
                    text-xl
                    m-0
                    w-full
                    text-center
                    border-b-2 border-gray-700
                "
            >
                To Do List
            </div>
            <div v-for="(item, index) of toDoLists" class="px-1" :key="index">
                <div class="flex border-b-2 border-gray-700 relative">
                    <div
                        class="
                            sm:text-lg
                            text-sm text-center
                            leading-5
                            font-medium
                            absolute
                        "
                    >
                        {{ index + 1 }}.
                    </div>
                    <div class="w-full pl-4">
                        <div
                            class="
                                sm:text-lg
                                text-sm
                                font-medium
                                break-words
                                overflow-x-hidden
                            "
                        >
                            {{ item.TaskTitle }}
                        </div>
                        <div
                            class="
                                text-xs
                                font-medium
                                break-words
                                overflow-x-hidden
                            "
                        >
                            {{ item.TaskDescription }}
                        </div>
                        <div
                            class="
                                sm:h-10
                                flex flex-col
                                sm:items-center
                                justify-center
                                sm:flex-row
                                sm:justify-between
                            "
                        >
                            <div
                                class="
                                    sm:text-sm
                                    text-xs
                                    font-medium
                                    text-gray-800
                                "
                            >
                                Date Begin/End:
                                {{ dateFormat(item.id) }}/{{ item.TaskAndDate }}
                            </div>
                            <div
                                class="
                                    sm:text-sm
                                    text-xs
                                    font-medium
                                    text-gray-800
                                "
                            >
                                Time left: {{ timeLeft(item) }}
                            </div>
                            <ul
                                class="
                                    rounded-xl
                                    flex
                                    items-center
                                    justify-evenly
                                    flex-wrap
                                    w-32
                                    py-1
                                    sm:py-0
                                "
                            >
                                <li
                                    @click.prevent="taskMoveUp(index)"
                                    class="
                                        w-4
                                        h-4
                                        flex
                                        items-center
                                        justify-center
                                        focus:outline-none
                                        text-white text-sm
                                        p-3
                                        rounded-md
                                        bg-gradient-to-r
                                        from-blue-400
                                        to-blue-600
                                        transform
                                        hover:scale-110
                                        cursor-pointer
                                        border-purple-900 border-2
                                    "
                                >
                                    &#9650;
                                </li>
                                <li
                                    @click.prevent="taskMoveDown(index)"
                                    class="
                                        w-4
                                        h-4
                                        flex
                                        items-center
                                        justify-center
                                        focus:outline-none
                                        text-white text-sm
                                        p-3
                                        rounded-md
                                        bg-gradient-to-r
                                        from-green-500
                                        to-green-700
                                        transform
                                        hover:scale-110
                                        cursor-pointer
                                        border-purple-900 border-2
                                    "
                                >
                                    &#9660;
                                </li>
                                <li
                                    @click.prevent="editTask(index)"
                                    class="
                                        w-4
                                        h-4
                                        flex
                                        items-center
                                        justify-center
                                        focus:outline-none
                                        text-white text-sm
                                        p-3
                                        rounded-md
                                        bg-gradient-to-r
                                        from-purple-400
                                        to-purple-600
                                        transform
                                        hover:scale-110
                                        cursor-pointer
                                        border-purple-900 border-2
                                    "
                                >
                                    &#128393;
                                </li>
                                <li
                                    @click.prevent="removeTask(index)"
                                    class="
                                        w-4
                                        h-4
                                        flex
                                        items-center
                                        justify-center
                                        focus:outline-none
                                        text-white text-sm
                                        p-3
                                        rounded-md
                                        bg-gradient-to-r
                                        from-red-400
                                        to-red-600
                                        transform
                                        hover:scale-110
                                        cursor-pointer
                                        border-purple-900 border-2
                                    "
                                >
                                    &#10060;
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-b-2 border-gray-700" v-if="toDoLists.length === 0">
            You have no tasks, add your first task =)
        </div>
    </div>
</template>
<script>
export default {
    name: 'TodoAllList',
    data() {
        return {
            toDoLists: [],
            formPHTitle: 'Task Title',
            formPHDescription: 'Task Description',
            newTaskTitle: '',
            newTaskDescription: '',
            newTaskDate: '',
            newTaskStatus: '',
            editActive: false,
            editItemIndex: null,
            editItemId: null,
        }
    },
    methods: {
        addTask() {
            if (
                !this.newTaskTitle ||
                !this.newTaskDescription ||
                !this.newTaskDate
            ) {
                return
            }
            const task = {
                id: Date.now(),
                TaskTitle: this.newTaskTitle,
                TaskDescription: this.newTaskDescription,
                TaskAndDate: this.newTaskDate,
                TaskAddDate: new Date(),
                status: 'active',
            }
            if (this.editActive) {
                task.id = this.editItemId
                this.toDoLists[this.editItemIndex] = task
                this.editActive = false
            } else {
                this.toDoLists.push(task)
            }
            this.newTaskTitle = ''
            this.newTaskDescription = ''
            this.newTaskDate = ''
            this.saveTasks()
        },
        taskMoveUp(x) {
            if (this.editActive || x === 0) return
            ;[this.toDoLists[x], this.toDoLists[x - 1]] = [
                this.toDoLists[x - 1],
                this.toDoLists[x],
            ]
            this.saveTasks()
        },
        taskMoveDown(x) {
            if (this.editActive || x == this.toDoLists.length - 1) return
            ;[this.toDoLists[x], this.toDoLists[x + 1]] = [
                this.toDoLists[x + 1],
                this.toDoLists[x],
            ]
            this.saveTasks()
        },
        editTask(x) {
            this.newTaskTitle = this.toDoLists[x].TaskTitle
            this.newTaskDescription = this.toDoLists[x].TaskDescription
            this.newTaskDate = this.toDoLists[x].TaskAndDate
            this.editActive = true
            this.editItemIndex = x
            this.editItemId = this.toDoLists[x].id
        },
        removeTask(x) {
            if (this.editActive) return
            this.toDoLists.splice(x, 1)
            this.saveTasks()
        },
        saveTasks() {
            const parsed = JSON.stringify(this.toDoLists)
            localStorage.setItem('toDoLists', parsed)
        },
        timeLeft(data) {
            let dateNow = new Date()
            let dateAdd = new Date(data.TaskAndDate)
            let dateGMT = dateNow.getTimezoneOffset() / 60
            let day = Math.floor((dateAdd - dateNow) / 86400000)
            let hour =
                Math.floor(((dateAdd - dateNow) / 86400000 - day) * 24) +
                dateGMT
            return `day: ${day} hour: ${hour}`
        },
        dateFormat(inpt) {
            return new Date(inpt).toISOString().split('T')[0]
        },
    },
    computed: {
        formSubmit() {
            return this.editActive ? 'Edit' : 'Add Task'
        },
    },
    watch: {},
    mounted() {
        if (localStorage.getItem('toDoLists')) {
            try {
                this.toDoLists = JSON.parse(localStorage.getItem('toDoLists'))
            } catch (e) {
                localStorage.removeItem('toDoLists')
            }
        }
    },
}
</script>

<style></style>
