<template>
    <div class="m-auto min-w-320px max-w-lg flex flex-col items-center">
        <div @click="test">(ISO 3166-2)</div>
        <input
            class="
                font-bold
                text-xl text-center
                mt-1
                border-purple-900 border-2
                h-11
                w-44
                bg-purple-300
                rounded-md
            "
            type="text"
            v-model="counryCode"
            placeholder="Country code"
        />
        <input
            class="
                font-bold
                text-xl text-center
                my-2
                border-purple-900 border-2
                h-11
                w-44
                bg-purple-300
                rounded-md
            "
            type="text"
            v-model="cityName"
            placeholder="City name"
        />
        <label class="my-1 font-medium text-xl" for="city">Select city</label>
        <select
            class="
                font-bold
                text-xl text-center
                h-11
                w-44
                bg-blue-300
                mb-2
                rounded-md
                py-1
                px-4
                border-2 border-purple-900
            "
            @change="getWeather"
            v-model="cityId"
            id="city"
        >
            <option
                v-for="(item, index) of sortByCityName"
                :key="index"
                :value="item.id"
            >
                {{ item.name }}
            </option>
        </select>
        <div class="text-xl font-medium">{{ weather__title }}</div>
        <div class="text-sm font-medium">{{ weather__date }}</div>
        <div class="text-sm font-medium">{{ weather__description }}</div>
        <img class="-mt-3 -mb-3" :src="weather__cloudiness" alt="weather ico" />
        <div class="w-full flex flex-row items-center justify-evenly">
            <p class="text-sm font-medium text-center">
                min: <br />{{ temp_min }}
            </p>
            <p class="text-sm text-center text-1xl font-black m-1">
                now: <br />{{ temp_now }}
            </p>
            <p class="text-center text-sm font-medium">
                max: <br />{{ temp_max }}
            </p>
        </div>
        <div
            class="
                w-full
                flex flex-col
                lg:flex-row
                items-center
                justify-around
                m-1
            "
        >
            <p class="m-1 text-sm font-medium">{{ wind_ms }}</p>
            <p class="m-1 text-sm font-medium">{{ wind_direction }}</p>
        </div>
        <div class="text-sm font-medium">{{ weather__humidity }}</div>
    </div>
</template>

<script>
import cityList from '../add/city.list.json'

export default {
    components: {},
    name: 'AsideInfoPanel',
    data() {
        return {
            cityId: '524894',
            weatherApi: {
                url: 'https://api.openweathermap.org/data/2.5/',
                appid: '957cd0d7bbdef4470733cf9e2c997902',
            },
            weather__title: '',
            weather__date: '',
            weather__description: '',
            weather__cloudiness: '',
            temp_min: '',
            temp_now: '',
            temp_max: '',
            wind_ms: '',
            wind_direction: '',
            weather__humidity: '',
            windDirectionArray: [
                'North 🢁',
                'NE 🡽',
                'East 🢂',
                'SE 🡾',
                'South 🢃',
                'SW 🡿',
                'West 🢀',
                'NW 🢄',
            ],
            counryCode: 'RU',
            cityName: 'Moscow',
            sortByCountry: [],
            sortByCityName: [],
        }
    },
    methods: {
        sortCountryArray() {
            cityList.forEach((el) => {
                if (el.country === this.counryCode.toUpperCase()) {
                    this.sortByCountry.push(el)
                }
            })
            if (this.cityName.length > 0) {
                this.sortCityArray()
                return
            }
            this.sortByCityName = this.sortByCountry
        },
        sortCityArray() {
            let arr = []
            let name = this.filterCityName()
            this.sortByCountry.forEach((el) => {
                if (el.name.indexOf(name) >= 0) {
                    arr.push(el)
                }
            })
            this.sortByCityName = arr
        },
        test() {
            console.log(this.sortByCountry)
            console.log(this.sortByCityName)
        },
        getWeather() {
            let data = fetch(
                `${this.weatherApi.url}weather?id=${this.cityId}&appid=${this.weatherApi.appid}`
            ).then((resp) => resp.json())
            data.then((respons) => {
                console.log(respons)
                let deg = respons.wind.deg
                let item =
                    deg > 337.5 || deg < 22.5
                        ? 0
                        : Math.floor((deg + 22.5) / 45)
                this.wind_direction = `${deg}° ${this.windDirectionArray[item]}`
                this.weather__title = respons.name
                this.weather__date = new Date().toLocaleDateString()
                this.weather__description =
                    respons.weather[0].description.toUpperCase()
                this.weather__cloudiness = `https://openweathermap.org/img/wn/${respons.weather[0].icon}@2x.png`
                this.temp_min =
                    (respons.main.temp_min - 273.15).toFixed(2) + '℃'
                this.temp_now = (respons.main.temp - 273.15).toFixed(2) + '℃'
                this.temp_max =
                    (respons.main.temp_max - 273.15).toFixed(2) + '℃'
                this.wind_ms = `Wind: ${respons.wind.speed} m/s`
                this.weather__humidity = `Humidity: ${respons.main.humidity}%`
            })
        },
        filterCounryCode(str) {
            this.counryCode = str.split('').slice(0, 2).join('').toUpperCase()
        },
        filterCityName() {
            let res =
                this.cityName[0].toUpperCase() +
                (this.cityName.length > 0
                    ? this.cityName.split('').slice(1).join('').toLowerCase()
                    : '')
            return res
        },
    },
    watch: {
        counryCode(x) {
            this.filterCounryCode(x)
            this.sortByCityName = []
            this.sortByCountry = []
            if (x.length === 2) {
                this.sortCountryArray()
            }
        },
        cityName(y) {
            this.sortByCityName = []
            if (y.length === 0) {
                this.sortByCityName = this.sortByCountry
                return
            }
            this.sortCityArray()
            this.cityName = this.filterCityName()
        },
    },
    created: function () {
        this.getWeather()
        this.sortCountryArray()
        this.sortCityArray()
    },
}
</script>

<style></style>
