<template>
    <div class="m-auto h-full w-full">
        <theHeader />
        <div class="flex h-auto">
            <router-view />
        </div>
    </div>
</template>

<script>
import theHeader from './components/TheHeader.vue'

export default {
    components: {
        theHeader,
    },
    name: 'App',
    data () {
        return {}
    },
}
</script>
<style></style>
